body {
    
    /*Optimal Layout and positioning*/
    /*Relative to the font-size of the element (2em means 2 times the size of the current font)
    margin: 0 auto;
    padding: 1em 2em;*/
} 


.home-picture-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.journal-picture {
    display:block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#header {
    font-size: 2em;
  font-weight:bold;  
}

#pictureLayout {
    display:flex;
    justify-content:space-evenly;
}
